/* Code tidied up by ScrapBook */
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
@media only screen and (max-width: 760px) {
}
@media (max-width: 800px) {
}
@media (max-width: 640px) {
}
@media (max-width: 640px) {
}
#jp-relatedposts { display: none; padding-top: 1em; margin: 1em 0px; position: relative; clear: both; }
.jp-relatedposts::after { content: ""; display: block; clear: both; }
@media only screen and (max-width: 640px) {
}
@media only screen and (max-width: 320px) {
}
@media not all {
}
@media not all {
}
@media not all {
}
@-moz-document url-prefix("") {
  .sd-social-icon .sd-content ul li a.share-more { top: 2px; }
}
@media not all {
}
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
