/* Code tidied up by ScrapBook */
._li._li._li { overflow: initial; }
@keyframes rotateSpinner {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.sp_5mhmaH8rzNW { background-image: url("ApcBOUT5FoS.png"); background-size: auto auto; background-repeat: no-repeat; display: inline-block; height: 12px; width: 12px; }
.sp_5mhmaH8rzNW.sx_2fcf18 { background-position: 0px 0px; }
.sp_5mhmaH8rzNW.sx_ccb777 { background-position: 0px -13px; }
