/* Code tidied up by ScrapBook */
._4jy0 { border: 1px solid; border-radius: 2px; box-sizing: content-box; font-size: 12px; -moz-osx-font-smoothing: grayscale; font-weight: bold; justify-content: center; padding: 0px 8px; position: relative; text-align: center; text-shadow: none; vertical-align: middle; }
.gecko.mac ._4jy0 { font-family: Helvetica Neue,Helvetica,Arial,sans-serif; }
._4jy0::before { content: ""; display: inline-block; height: 20px; vertical-align: middle; }
html ._4jy0:focus, html .gecko ._4jy0:focus { box-shadow: 0px 0px 1px 2px rgba(88, 144, 255, 0.75), 0px 1px 1px rgba(0, 0, 0, 0.15); outline: medium none; }
._4jy0 { transition: background-color 200ms cubic-bezier(0.08, 0.52, 0.52, 1) 0s, box-shadow 200ms cubic-bezier(0.08, 0.52, 0.52, 1) 0s, transform 200ms cubic-bezier(0.08, 0.52, 0.52, 1) 0s; }
._4jy0:active { transition: none 0s ease 0s ; }
.mac ._4jy0:active:not(._42fr) { box-shadow: none; transform: scale(0.98); }
._4jy0 .img { bottom: 1px; position: relative; vertical-align: middle; }
._517h, ._59pe:focus, ._59pe:hover { background-color: rgb(245, 246, 247); border-color: rgb(204, 208, 213); color: rgb(75, 79, 86); }
._517h:hover { background-color: rgb(235, 237, 240); }
._517h:active, ._517h._42fs { background-color: rgb(221, 223, 226); border-color: rgb(190, 195, 201); }
._4jy3, ._4jy3._42fr:active, ._4jy3._42fr._42fs { line-height: 22px; }
@keyframes CSSFade_show {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes CSSFade_hide {
0% { opacity: 1; }
100% { opacity: 0; }
}
